a { color: inherit; }
.bold { font-weight: bold; }
[data-role="content-primary"] { width: 100%; display: block; flex: 1; max-width: -webkit-fill-available; }

.modal-full {
    min-width: 100%;
    margin: 0;
}

.modal-full .modal-content {
    min-height: 100vh;
}

.input-group-sm>input[type="date"],
input[type="date"] { padding-right: 0; }
